/* Google Fonts - start */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap");
/* Google Fonts - end */

body {
	font-family: "Nunito Sans", sans-serif !important;
}

/* Titulo "Resultado de Busqueda" - start */
.titulofiltro {
	text-align: center;
}
/* Titulo "Resultado de Busqueda" - end */

/* Template - Products - start */
.crud-table {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 200px;
	height: auto;

	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
}

.p_img {
	width: 150px;
	height: 150px;
}

.p_name {
	text-align: center;
	margin: 0 10px;
	height: 50px;

	display: flex;
	align-items: center;

	text-transform: uppercase;
}

.p_price {
	margin: 0;
}

.p_span {
	display: flex;
	margin: 10px 0;
	color: gray;
}

.p_span2 {
	display: flex;
	margin: 0;
	color: red;
}
/* Template - Products - end */

/* Template - Sidebar Category - start */
.s_name {
	text-transform: capitalize;
}

.s_color:hover {
	color: white !important;
}
/* Template - Sidebar Category - end */

/* Template - Select Category - start */
.crud-select {
	width: auto !important;
	margin-right: 60px;
}
/* Template - Select Category - end */

/* Hide SideBar Left in mobile view - start */
@media (max-width: 600px) {
	.hiddenmobile {
		display: none;
	}

	/* BSALE TEST */
	.navcontainer {
		margin-left: 0;
	}
}
/* Hide SideBar Left in mobile view - end */

/* Desktop - start */
@media (min-width: 601px) {
	/* BSALE TEST */
	.navcontainer {
		margin-left: 16px !important;
	}
}
/* Desktop - end */
